* {
    color: black;
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    border: none;
    z-index: 1;
}

.board-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
}

.card-container {
    min-height: 5.5rem;
    /*background-color: #20c997;*/
    padding: 5px;
}

.board-title {
    color: black;
    font-size: 4.5rem;
    margin: 4rem 0;
}

.column-container {
    display: flex;
    flex-direction: row;
}

.column {
    min-height: 5rem;
    width: 20%;
    min-width: 15rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /*background-color: #a4a4a4;*/
}

.column-header {
    border: black solid 1px;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.del-col-btn {
    height: 2.2rem;
    width: auto;
    border: none;
    background: none;
    position: absolute;
    top: 70%;
    left: 93%;
    cursor: pointer;
}

.del-col-btn-img {
    height: 100%;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.card {
    height: 3rem;
    width: 90%;
    border: green solid 1px;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: grab;
}

.card p {
    cursor: grab;
}

.add-col-div {
    position: relative;
}

.add-col-btn {
    height: 6.5rem;
    width: auto;
    border: none;
    background: none;
    padding: 1rem;
    margin: 0 1rem 0 auto;
    cursor: pointer;
}

.add-col-btn img {
    height: 100%;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.new-col-modal {
    height: 10rem;
    width: 250px;
    position: absolute;
    top: 7rem;
    right: 0.5rem;
    background: #e2e3e4;
    border: black solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.new-col-modal label {
    font-size: 1.5rem;
    font-weight: 500;
}

.submit-btn {
    width: 5rem;
    height: 2rem;
    background-color: #a2bef5;
    border: #0c63e4 solid 1px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.input {
    cursor: text;
}

.add-card-div {
    position: relative;
    /*background-color: #0dcaf0;*/
}

.new-card-modal {
    height: 10rem;
    width: 250px;
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: #f69370;
    border: black solid 2px;
    border-radius: 10px;
    padding: 5px;
}

.new-card-modal label {
    font-size: 1.5rem;
    font-weight: 500;
}

.add-card-btn {
    height: 6.5rem;
    width: auto;
    border: none;
    background: none;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

.add-card-btn img {
    height: 100%;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.del-card-btn {
    height: 1.5rem;
    width: auto;
    border: none;
    background: none;
    position: absolute;
    bottom: 1%;
    left: 95%;
    cursor: pointer;
}

.del-card-btn-img {
    height: 100%;
    width: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.new-title-input {
    width: 90%
}

.hidden {
    display: none;
}

.card-slot {
    height: 1rem;
    width: 90%;
    background-color: #0dcaf0;
    margin: 0.5rem auto;
}

.slot-highlighted {
    height: 3rem;
    background-color: greenyellow;
}